
html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #eee;
}

.container {
    max-width: 900px;
    padding: 30px;
    margin: 0 auto;
}